/*------ general ------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(180deg, #009688 20%, #dcdbd3 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
i:hover {
    color: #000;
    cursor: pointer;
}

/*------ main ------*/
.container {
    height: 90%;
    width: 80%;
    display: flex;
}
.col-left {
    width: 35%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
}
.col-right {
    width: 65%;
    height: 100%;
}

/*------ left column ------*/
/*------ left column user ------*/
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 10px;
    border-right: 1px solid lightgray;
}
.profile {
    display: flex;
    align-items: center;
}
.profile span {
    font-size: 18px;
    margin-left: 8px;
}
.profile-icon {
    color: #b1b1b1;
    font-size: 20px;
}
.profile-icon i {
    padding: 0 10px;
}
/*------ left column notification ------*/
.notification {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 10px;
}
.notification i {
    background-color: #f2fbff;
    color: #8edafc;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.notification-text {
    margin-left: 8px;
    font-size: 14px;
}
.notification-text a {
    color: #4f7485;
}
/*------ left column contact searchbar ------*/
.search-bar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #fafafa;
}
.search-bar button {
    width: 15%;
    height: 40px;
    border: 1px solid lightgray;
    background-color: #fff;
}
.search-bar input {
    width: 80%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid lightgray;
}
/*------ left column contacts list ------*/
.contact {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.contact:hover {
    background-color: #009688;
}
.contact-text {
    margin-left: 10px;
}
.contact-message ,.time {
    font-size: 12px;
    color: #b1b1b1;
}
.time {
    position: absolute;
    top: 5px;
    right: 5px;
}

/*------ right column ------*/
/*------ right column message area------*/
.message-area {
    height: calc(100% - 130px);
    overflow-y: auto;
    background-image: url(../img/mine.jpg);
}
.sended {
    font-size: 20px;
    color: #fff;
    background-color: green;
}
.received {
    font-size: 20px;
    color: #fff;
    background-color: blue;
}
/*------ right column writing area ------*/
.writing-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 10px 30px;
}
.writing-area i {
    color: #6b7376;
    font-size: 22px;
}
.writing-area i:hover {
    color: #000;
}
.writing-area input {
    width: 85%;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}